
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>

    <title>Add Person</title>
</head>
<body>
<h1>Create a User:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/addUser}"
      th:object="${usersForm}" method="POST" class="form">
    Name
    <input type="text" th:field="*{name}" />
    <br/>
    Lastname
    <input type="text" th:field="*{lastname}" />

    <br/>
    Licence Number
    <input type="text" th:field="*{numberLicence}" />

    <br/>
    Year Obention Licnce Driver
    <input type="date" th:field="*{yearObtention}" />

    <br/>
    Birthday
    <input type="date" th:field="*{birthday}" />
    <div th:if="${errorMessages}" th:text="${errorMessages}">...</div>
    <br/>
    <input type="submit" value="Create" class="button" />
</form>

<br/>



</body>
</html>