<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
</head>
<body>
<h1>Person List</h1>
<a href="addPerson">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>LastName</th>
            <th>Number Licence</th>
            <th>Birthday</th>
            <th>Year Obtention</th>

        </tr>
        <tr th:each ="user: ${users}">

            <td th:utext="${user.name}">...</td>

            <td th:utext="${user.lastname}">...</td>
            <td th:utext="${user.numberLicence}">...</td>
            <td th:utext="${user.birthday}">...</td>
            <td th:utext="${user.yearObtention}">...</td>
            <td><a th:href="@{reservationList/{id}(id = ${user.id})}">Toutes les réservations</a></td>
            <td><a th:href="@{reservation/{id}(id = ${user.id})}">Modifier</a></td>
        </tr>

    </table>
</div>
</body>
</html>