<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Vehicule</title>
</head>
<body>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/vehicules} + '/' + ${id}"
th:object="${vehiculesForm}" method="post">


marque
  <input type="text" th:field="*{marque}"/>
  <br/>
  modele
  <input type="text" th:field="*{modele}"/>

  <br/>
  Immatriculation
  <input type="text" th:field="*{immatriculation}"/>

  <br/>
  Chevaux fiscaux
  <input type="text" th:field="*{cvf}"/>

  <br/>
  available
  <input type="checkbox" th:field="*{available}"/>

  <br/>
  <input type="number" th:field="*{categorie}"/>

  Catégorie
  <input type="submit" value="Create"/>
</form>

<br/>


</body>
</html>