<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <title>Vehicules List</title>
</head>
<body>
<h1>Vehicules List</h1>
<br/><br/>
<div>

    <table border="1">
        <tr>
            <th>Marque</th>
            <th>Modele</th>
            <th>Immatriculation</th>
            <th>Chevaux Fiscaux</th>
            <th>Catégorie</th>
            <th>Disponibilité</th>

        </tr>
        <tr th:each="vehicules : ${vehicule}">

            <td th:utext="${vehicule.marque}">...</td>

            <td th:utext="${vehicule.modele}">...</td>
            <td th:utext="${vehicule.immatriculation}">...</td>
            <td th:utext="${vehicule.cvf}">...</td>
            <td th:utext="${vehicule.categorie}">...</td>
            <td th:utext="${vehicule.available}">...</td>





        </tr>

    </table>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>